/node_modules
/public/hot
/public/storage
/storage/*.key
/resources/lang/awt.php
/resources/lang/fr/awt.php
/resources/lang/en/awt.php
/resources/lang/es/awt.php
/resources/lang/de/awt.php
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
